body {
  background-color: rgb(241, 241, 239);
  color: dimgray;
}

header {
  /* width: 100%/; */
  border-top: #71C9C7 solid 10px;
}

.header-wrapper {
  width: 920px;
  margin: auto;
  /* background-color: blue; */
  }

.header-top {
  height: 150px;
}
.info {
  float: right;
  margin: 7px;
  text-align: right;
}

.info h6 {
  margin: 10px 0;
  font-size: 10px;
  font-weight: normal;
}

.info h3 {
  margin: 10px 0;
}

.info span {
  color: red;
}

.time {
  border: rgb(219, 211, 211) 1px solid;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}

.logo { 
  float: left;
  margin: 50px 0;
  }

.header-list {
  height: 70px;
  width: 919px;
  /* background-color: tomato; */
}

.header-list li {
  float: left;
  border-radius: 6px 0px 0px 6px;
  border: 1px solid rgb(42, 238, 222) ;
  list-style: none;
  padding: 10px 5% 0px 5%;
  text-align: center;
  background-image: linear-gradient(rgb(156,227,225) 0%,rgb(108,198,196) 100%);
  margin: 0 auto;
  height: 70px;
}

.titleJn {
  color: white;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0em;
}

.titleEn {
  font-size: 10px;
  color: white;
  margin: 0px 0 5px 0;
}

.containar {
  width: 920px;
  margin: auto;
  /* background-color: gold; */
  height: 1000px;
  clear: both;
}

.menu-wrapper {
  /* background-color: forestgreen; */
  display: inline;
  float: left;
  /* display: flex; */
  /* width: 150px; */
}


.menu-wrapper li {
  list-style: square;
}

.menu-wrapper h3 {
  color: rgb(252, 250, 250);
}

.menu {
  background-color: white;
  margin-bottom: 20px;
  width: 200px;
  padding-bottom: 5px;
  margin-left: 40px;
}


.menu h3 {
  background-color: #71C9C7;
  padding: 5px 15px;
  border: 1px paleturquoise solid;
  border-radius: 4px 4px 0 0;
}


.menu li {
  border-bottom: 1px paleturquoise solid;
  padding: 5px 0;
}


.news-wrapper  {
  /* background-color: fuchsia; */
  display: inline;
  float: right;
  width: 640px;
  margin-top: 15px;
}


.news-wrapper img {
  width: 640px;
  height: 280px;
}

.newinfo h3 {
  padding-bottom: 10px;
  border-bottom: solid 2px #71C9C7;
  }

.details p {
  border-bottom: dotted 1px black;
  padding-bottom: 8px;
  font-size: 14px;
}

.details span {
  font-weight: bold;
}

footer {
  /* background-color: blueviolet; */
  height: 200px;
  
}

.footer-top {
  background-color: #71C9C7;
  border-radius: 6px;
  width: 920px;
  margin: auto;
  border: #71C9C7 1px solid;
  height: 50px;
}

.footer-top li {
  float: left;
  padding-right: 30px;
  color: white;
  padding-bottom: 30px;
  list-style: circle;
}

.footer-adress {
  text-align: right;
  margin: auto;
  width: 920px;
}

.copy {
  text-align: center;
  border-top: 2px solid #71C9C7;
}

.copy p {
  font-size: 12px;