* {box-sizing: border-box;}
*{margin: 0 auto;}

.wrapper {
  max-width: 1190px;
  margin: auto;
}

header {
  /* background-color: crimson; */
  text-align: center;
  height: 200px;
}
header h1 {
  font-weight: 100;
  padding: 50px;
}

header span {
   color: lawngreen;
}

.list {
  display: flex;
  list-style: none;
  width: 530px;
  font-size: small;
}

.list a {
  text-decoration: none;
}

.list li:hover {
  border-bottom: 2px solid black;
}


.container {
  display: flex;

}

.main {
  /* background-color: pink; */
  display: flex;
  flex-wrap: wrap;
}

.photo {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.blog {
  /* background-color: blue; */
  height: 350px;
  /* flex: auto; */
  width: 48%;
  border: 1px solid rgb(241, 230, 230);
  border-radius: 2px;
  margin-bottom: 20px;
}
.blog:hover {
  box-shadow: 5px 10px 5px #aaaaaa;
}
.blog img { 
  width: 100%;
}

.post-list-inner {
  position: relative;
}

.post-list-inner span {
  font-size: 1px;
  padding: 5px;
  background-color: rgb(133, 175, 90);
  border-radius: 20px;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px
}

.post-list-inner p {
  padding: 10px;
}

time {
  font-size: 9px;
  position: absolute;
  right: 20px;
}
.side {
  /* background-color: darkcyan; */
  width: 30%;
  margin-left: 20px;
  
}

.theme h4 {
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px 0;
}

.side-container {
  border: 1px solid rgb(241, 230, 230);
  padding: 20px;
  height: auto;
}

.theme img {
  width: 100%;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
}

.side p {
  margin: 30px 20px ;
  font-size: 14px;
  font-size: 14px;
}
.theme {
  margin-bottom: 20px; 
}

.btn {
  background-color: brown;
  padding: 10px 60px;
  border-radius: 40px;
  margin-left: 20px;
  left: 50px;
  color:white;
  width: 100%;
}

.jin {
  height: 500px;
  position: relative;
}

.icon {
  
  text-align: center;
}

.icon img {
  border-radius: 50%;
  width: 40%;
  margin-top: 30px;
}
.sns {
  background-color: #9ACC1E;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.sns p {
  margin-bottom: 10px;
  margin: 0;
}

.sns-icon {
  display: flex;
  width: 80%;
  padding-left: 0;
  justify-content: center;
  padding-bottom: 20px;
}

li {
  list-style: none;
  /* margin-bottom: 20px; */
}

.fab {
  margin: 0;
  background-color: #ACD54E;
}

.topics {
  margin-bottom: 20px;
  margin-top: 30px;
}
.topics img {
  width: 80%;
}

.topics h4 {
  margin-bottom: 20px;
  color: gray;
  background-color: inherit;
  border-bottom: 2px solid gray;
}

.post {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.post li {
  display: flex;
  align-items: center;
}

.post p {
  margin: 0;
  display: block;
  padding: 0;
}

.category h4 {
  background-color: inherit;
  color: gray;
  margin-bottom: 20px;
  background-color: inherit;
  border-bottom: 2px solid gray;
}

.tag {
  margin-top: 20px;
}
.tag h4 {
  color: gray;
}

.tag a {
  font-size: 9px;
  color: rgb(104, 100, 100);
  text-decoration: none;
  background-color: #F5F5F5;
  margin: 0 10px;
  border-radius: 3px;
  padding: 0 7px;
}
.tagside {
  display: inline;
}
.tagside a:hover {
  background-color: black;
  color: white;
}

.search {
  margin-top: 20px; 
  margin-bottom: 20px
}


.search h4 {
  margin-bottom: 20px;
  color: gray;
  border-bottom: 2px solid gray;
}

input.font-awesome {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: right;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #48b3ec;
  border-radius: 40px;
}
.recommend h4 {
background-color: inherit;
color: gray;
margin-bottom: 20px;
background-color: inherit;
border-bottom: 2px solid gray;
}

.last {
  display: flex;
  align-items: center;
}

.last img {
  width: 100%;
}

.page a{
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 20px;
  border-radius: 50%;
}

.page {
  margin-top: 60px;
}

footer {
  background-color: #393542;
  margin-top: 50px;
  color: white；
}

footer h4 {
  color: white;
  border-left: 3px solid #9ACB1E;
  padding-left: 10px;
}

footer p {
  color: white;
  font-size: 12px;
}

footer a {
  font-size: 10px;
  color: white;
  padding: 10px 0;  
}

.popular {
  position: relative;
}

.popular span {
  background-color: #9ACB1E;
  padding: 5px;
  position: absolute;
  top: 25px;
  left: 15px;
  color: white;
  
}
.left {
  width: 33%;
  padding: 40px;
  text-align: center;
}

.jin2 {
  margin-bottom: 100px;
}
.jin2 img {
  width: 50%;
}

.jin2 a {
  font-size: 14px;
  background-color: #E22155;
  border-radius: 20px;
  padding: 10px 30px;
}

.jin2 p {
  margin-bottom: 50px;
}
.tag2 {
  text-align: start;
}

.tag2 a {
  text-decoration: none;
}

.center {
  width: 33%;
  padding: 40px;
}
.footer-list ul {
  padding: 10px;
} 
.right {
  width: 33%;
  padding: 40px;
}
.right a {
  display: flex;
  align-items: center;
}

.right img {
  width: 50%;
  padding: 15px
}

.copyrigth {
  text-align: center;
  border-top: 1px solid white;
  color: white;
  font-size: 8px;
  padding: 10px 0;
}


  @media (max-width: 600px) {
    .container {
      /* flex-direction: column; */
    }
    .main,
    .side {
      width: 100%;
    }
  }